.container__banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size:contain;
    margin-bottom: 3em;
    min-height: 80vh;
}

.banner {
    height: 50vh;
    margin: 0 auto;
}

.banner__image {
    width: 95vw;
    position: relative;
    top: -60px;
    z-index: 0;
}
.banner__image2, .banner2 {
    display: none;
}

.banner__content {
    display: flex;
    flex-direction: column;
    margin: 1em 1.5em;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 33vh;
}

.main-title {
    font-weight: var(--weight-light);
    font-size: 2.3em;
}

.main-text {
    color: var(--grayish-blue);
    line-height: 1.5em;
    font-size: .8em;
}

.btn {
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 98%);
    padding: 1em;
    border-radius: 50px;
    border: none;
    color: var(--very-light-gray);
    width: 50%;
}

@media screen and (min-width: 1024px) {
    .container__banner{
        flex-direction: row;
        background-image: none;
        min-height: fit-content;
        margin-bottom: 0;
    }
    .banner__image, .banner{
        display: none;
    }
    .banner2{
        display: block;
        height: 60vh;
    }
    .banner__image2 {
        display: block;
        width: 60vw;
        position: relative;
        top: -100px;
        right: -80px;
    }
    .banner__content {
        margin: auto 2em auto 4em;
        width: 30%;
        min-height: 20vh;
        text-align: left;
        align-items:flex-start;
    }
    .banner__content > p {
        margin: 2em 0;
    }
}