footer {
    background-color: var(--dark-blue);
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    min-height: 60vh;
    margin: 1em auto;
}

.footer__logo {
    filter: brightness(0) invert(1);
}

.footer__list-icons {
    display: flex;
}

.footer__list-icons__item {
    margin-left: 1em;
}

.footer__list-menu {
    text-align: center;
}

.footer__list-menu__item {
    margin-bottom: .8em;
}

.footer__list-menu__link {
    color: var(--white);
    font-size: .8em;
}

.footer-text {
    font-size: .6em;
    display: block;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    footer {
        min-height: 30vh;
        width: 100%;
    }
    .container-footer {
        flex-direction: row;
        align-content: space-between;
        justify-items: center;
        min-height: 30vh;
        width: 100%;
        margin: 1em 4em;   
    }
    .footer-collumn-logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
    }
    .footer-collumn-list {
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap; */
        display: none;
    }
    .footer-collumn-right {
        display: none;
    }
}