footer {
    background-color: var(--dark-blue);
    min-height: 65vh;
    display: flex;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    margin: 3em auto;
    max-height: 70vh;
}

.footer-collumn-logo, .footer-collumn-right {
    text-align: center;
}
.footer-collumn-logo, .footer__list-menu  {
    margin-bottom: 2em;
}
.footer__logo {
    filter: brightness(0) invert(1);
}

.footer__list-icons {
    display: flex;
    margin-top: 1.5em;
}

.footer__list-icons__item {
    margin-right: 1em;
}
.footer__list-icons__item:last-child {
    margin-right: 0;
}
.footer__list-menu {
    text-align: center;
}

.footer__list-menu__item {
    margin-bottom: .8em;
}

.footer__list-menu__link {
    color: var(--white);
    font-size: .8em;
}

.footer-text {
    font-size: .6em;
    display: block;
    text-align: center;
    margin-top: 2em;
}

@media screen and (min-width: 1024px) {
    footer {
        min-height: 5vh;
    }
    .container-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2em 4em;
        width: 100%;
        height: 15vh;
    }
    .footer-collumn-logo {
        text-align: left;
    }
    .footer-collumn-logo, .footer__list-menu  {
        margin-bottom: 0;
    }
    .footer__list-menu {
        text-align: left;
        display: flex;
        margin-right: 4em;
    }
    .footer-collumn-list {
        margin-right: 3em;
    }
    .footer__list-menu__link {
        display: block;
        width: 100%;
    }
    .footer-collumn-right, .footer-text {
        text-align: right;
    }
    .footer__list-icons__link:hover, .footer__list-menu__link:hover {
        filter: invert(60%);
        cursor: pointer;
    }
}